@{
    ViewBag.Title = "Как купить";
}
<div class="row">
    <div class="col-md-3">
        <div class="catalog_cars">
            <div class="text_for_catalogs">some text</div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class1"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class2"><i class="fa fa-eercast" aria-hidden="true"></i></div>
            <div class="inlinediv class3"><i class="fa fa-eercast" aria-hidden="true"></i></div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="main_text">

            <div class="container_ribbon one_ribbon">


                <div class="skew_ribbon left_ribbon"></div>

                <div class="main_ribbon">

                    <div style=" font-size:25px; color:white; text-align:center; font-style:italic; ">some text</div>

                </div>

                <div class="skew_ribbon right_ribbon"></div>


            </div>
            <div class="box_for_main_text">
                Никак.
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stuff_cat">
            <div class="text_for_catalogs">
                some text
            </div>
            <div class="row for_stuff">
                <div class="stuff_name"><a href="#"><img src="#" />some text</a></div>
                <div class="stuff_icon"><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></div>
            </div>


            <div class="row for_stuff">
                <div class="stuff_name"><a href="#"><img src="#" />some text</a></div>
                <div class="stuff_icon"><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></div>
            </div>


            <div class="row for_stuff">
                <div class="stuff_name"><a href="#"><img src="#" />some text</a></div>
                <div class="stuff_icon"><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></div>
            </div>


            <div class="row for_stuff">
                <div class="stuff_name"><a href="#"><img src="#" />some text</a></div>
                <div class="stuff_icon"><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></div>
            </div>


            <div class="row for_stuff">
                <div class="stuff_name"><a href="#"><img src="#" />some text</a></div>
                <div class="stuff_icon"><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></div>
            </div>


            <div class="row for_stuff">
                <div class="stuff_name"><a href="#"><img src="#" />some text</a></div>
                <div class="stuff_icon"><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></div>
            </div>

        </div>
    </div>
</div>