@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<p>Products</p>

<p>Этот текст статичен, ссылки тоже.</p>
<a href="/Product/product-1">Товар 1</a>
<a href="/Product/product-2">Товар 2</a>
<a href="/Product/product-3">Товар 3</a>
<a href="/Product/loremipsum">Несуществующий товар</a>
