@{
ViewBag.Title = "Товары";
}

@*<div id="products">
    <div class="col-md-12">
        <button v-for="cat in categories" v-on:click="catBtnOnClick" :name="cat.Id">
            {{ cat.Name }}
        </button>
    </div>
    <div class="col-md-4">
        <div v-for="prod in products" class="product-item">
            {{ prod.Name }}
            <p class="name">{{ prod.name }}</p>
            <div class="photo">
                <img :src="prod.PhotoSrc" alt="" style="height: 100px;">
            </div>
            <p class="desc">{{ prod.Description }}</p>
            <p class="price">{{ prod.Price }}</p>
            <p class="button"><a class="green" :href="('/Product/'+prod.Href)">Посмотреть товар</a></p>
        </div>
    </div>
</div>*@
<div class="row" id="products">
    <div class="col-md-3">
        <div class="stuff_cat">
            <div class="text_for_catalogs">
                some text
            </div>
            <div v-for="cat in categories" class="row for_stuff" v-on:click="catBtnOnClick" v-bind:name="cat.Id">
                <div class="stuff_name" v-on:click="catBtnOnClick" v-bind:name="cat.Id">{{ cat.Name }}</div>
                <div class="stuff_icon" v-on:click="catBtnOnClick" v-bind:name="cat.Id"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div v-for="prod in products" class="product-item col-md-4" style="padding: 10px; border: 2px solid black; border-radius: 10px;">
            <center><h2>{{ prod.Name }}</h2></center>
            <div class="photo">
                <img v-bind:src="prod.PhotoSrc" alt="" style="height: 100px;">
            </div>
            <p class="desc">{{ prod.Description }}</p>
            <p class="price">Цена: {{ prod.Price }}грн</p>
            <p class="button">
                <center><a class="green" v-bind:href="('/Product/'+prod.Href)">Посмотреть товар</a></center>
            </p>
        </div>
    </div>
</div>


@section scripts{
@Scripts.Render("~/bundles/VueJS")
<script>
	'use strict';

	let TestCategories = [
		{
			Id: "1",
			Name: "Категория 1"
		},
		{
			Id: "2",
			Name: "Категория 2"
		},
		{
			Id: "3",
			Name: "Категория 3"
		}];

	let TestProducts = [
		{
			Name: 'Товар 1',
			Description: 'Очень полезная вещь со скидкой 20%',
			Price: 13,
			Href: 'product-1',
			PhotoSrc: 'https://static.pexels.com/photos/7045/pexels-photo.jpeg'
		},
		{
			Name: 'Товар 2',
			Description: 'Не очень полезная вещь без скидки',
			Price: 155,
			Href: 'product-2',
			PhotoSrc: 'http://static.tumblr.com/ad1274ac4b41aeeeb15b2f9e4662e9b8/pmnupqm/VFIncxfqw/tumblr_static_2tnd1h3q3wg0kwk4g4ko40c0o.jpg'
		},
		{
			Name: 'Товар 3',
			Description: 'Обычная лампа настольная, для чтения',
			Price: 0.2,
			Href: 'product-3',
			PhotoSrc: 'https://pixlr.com/assets/landing/gallery/5-68c0f48120fefc5eb0cff67573d649da.jpg'
		}];

	let nav = new Vue({
		el: '#products',
		data: {
			defCat: TestCategories, // категории по умолчанию
			defProd: TestProducts, // товары категории по умолчанию
			categories: this.defCat,
			products: this.defProd
		},
		methods: {
            @* Выполняется, если результат запроса - ошибка *@
			getCatError: function () {
				this.categories = this.defCat;
			},
			getProdError: function () {
				this.products = this.defProd;
			},
			@**
			 * @description Запрос методом GET, результат присваивается this.categories
			 * @return DOM
			 * *@
			getCat: function () {
				this.$http.get('@Url.Action("GetCategories", "Product")')
					.then((response) => {
						this.categories = response.body;
					})
					.catch(this.getCatError);
			},
			@**
			 * @description Обработчик нажатия на кнопку "Категория"
			 * @return DOM
			 * *@
    catBtnOnClick: function (event) {
        console.dir(event.target);
			    this.$http.get('@Url.Action("ProductsData", "Product")'+'?Category=' + event.target.getAttribute('Name'))
					.then((response) => {
						this.products = response.body;
						;
					}).bind(this)
					.catch(this.getProdError).bind(this);
				;
			}
		}
	});
	nav.getCat();
</script>
}