@{
    ViewBag.Title = "Товары";
}

<div class="col-md-4">
    <div id="product-list">

        <div class="product-item">
            <p class="name">Имя</p>
            <div class="photo">
                <img src="img/photo.jpg" alt="">
            </div>
            <p class="desc">Описание</p>
            <p class="price">Цена</p>
            <p class="button"><a class="green" href="/">Ссылка на него</a></p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div id="product-list">

        <div class="product-item">
            <p class="name">Имя</p>
            <div class="photo">
                <img src="img/photo.jpg" alt="">
            </div>
            <p class="desc">Описание</p>
            <p class="price">Цена</p>
            <p class="button"><a class="green" href="/">Ссылка на него</a></p>
        </div>
    </div>
</div><div class="col-md-4">
    <div id="product-list">

        <div class="product-item">
            <p class="name">Имя</p>
            <div class="photo">
                <img src="img/photo.jpg" alt="">
            </div>
            <p class="desc">Описание</p>
            <p class="price">Цена</p>
            <p class="button"><a class="green" href="/">Ссылка на него</a></p>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/VueJS");
    <script>
        var TestData = [{
            Name: 'Товар 1',
            Description: 'Очень полезная вещь со скидкой 20%',
            Price: 13,
            Href: 'product-1',
            PhotoSrc: 'https://static.pexels.com/photos/7045/pexels-photo.jpeg'
        }, {
            Name: 'Товар 2',
            Description: 'Не очень полезная вещь без скидки',
            Price: 155,
            Href: 'product-2',
            PhotoSrc: 'http://static.tumblr.com/ad1274ac4b41aeeeb15b2f9e4662e9b8/pmnupqm/VFIncxfqw/tumblr_static_2tnd1h3q3wg0kwk4g4ko40c0o.jpg'
        }, {
            Name: 'Товар 3',
            Description: 'Обычная лампа настольная, для чтения',
            Price: 0.2,
            Href: 'product-3',
            PhotoSrc: 'https://pixlr.com/assets/landing/gallery/5-68c0f48120fefc5eb0cff67573d649da.jpg'
        }];
    </script>
}