@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>
<p>Id: @ViewBag.Id</p>
<div id="maindiv">

</div>
<div>
    <h3>VueJS test</h3>
    <div id="app">
        {{ info }}
        <ul>
            <li v-for="b in bears">{{b.name}} is {{b.color}}!</li>
        </ul>
    </div>
    
</div>

@section scripts{
    @Scripts.Render("~/bundles/VueJS")
    <script>
        var data = {
            bears: [
                { name: 'Misha', color: 'White' },
                { name: 'Dima', color: 'Black' },
                { name: 'Borya', color: 'Brown' },
                { name: 'Vasya', color: 'Yellow' }
            ],
            info: 'Hello!'
        }
        var TestVue = new Vue({
            el: '#app',
            data: data
        });

        var xhr = new XMLHttpRequest();
        xhr.open('GET', (window.location.pathname + '/data'), true);
        xhr.send();
        xhr.onreadystatechange = function () {
            if (xhr.status == 200 && xhr.readyState == 4) {
                //xhr.responseText;
                document.getElementById('maindiv').innerHTML = xhr.responseText;
            }
        }
    </script>
}
